.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:pastes, :index)
      %li.active=link_to pat(:new), url(:pastes, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:paste)
    .inner
      -form_for :paste, url(:pastes, :create), :class => :form do |f|
        =partial "pastes/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")